<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Certification_Section1::pokemon" title="Pokemon's" sortOrder="10" >
                    <resource id="Certification_Section1::create" title="Create" sortOrder="50" />
                    <resource id="Certification_Section1::delete" title="Delete" sortOrder="100" />
                    <resource id="Certification_Section1::view" title="List" sortOrder="150">
                        <resource id="Certification_Section1::view_pokemon" title="View Pokemon Information" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
