<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <api_configs>
            <api_urls>
                <pokemon_endpoint>https://pokeapi.co/api/v2/pokemon/</pokemon_endpoint>
            </api_urls>
        </api_configs>
    </default>
</config>
