<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Certification_Section2::section2" title="Section 2" translate="title" sortOrder="900">
                        <resource id="Certification_Section2::faq" title="FAQs" translate="title">
                            <resource id="Certification_Section1::faq_save" title="Save" translate="title"></resource>
                            <resource id="Certification_Section1::faq_delete" title="Delete" translate="title"></resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
